.btn {
  margin-top: 30px;
  height: 50px;
  width: 140px;
  outline: none;
  border: none;
  background-color: #c4aaff;
  border-radius: 40px;
  box-shadow: 0px 3px 6px #ddd;
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  font-family: "Nunito", sans-serif;
}

.btn:active {
  background-color: #aa8bf3;
}
